.header-about {
    color: black;
}
.about-info {
    text-align: left;
    padding-left: 20px;
    color: black;
}

h6 {
    color: black;
}

.fun-facts  {
    text-align: left;
    color: black;
}

.skill-heading {
    font-size: 35px;
    color: black;
}

.skill-logo {
    height: 10%;
    width: 10%;
    margin: 10px;
}

#css-id {
    height: 7.3%;
    width: 7.3%;
}

#mongo-id {
    height: 14%;
    width: 14%;
}

